//card
.ant-card {
  background: @theme-bg-component-color;
}

// table
.ant-table-thead {
  tr {
    th {
      &.ant-table-column-has-actions {
        &.ant-table-column-has-sorters:hover {
          background-color: @theme-bg-color;
        }

        &.ant-table-column-has-filters {
          &:hover {
            .anticon-filter,
            .anticon-filter:hover {
              background-color: @theme-bg-color;
            }
          }

          .anticon-filter.ant-table-filter-open {
            background-color: @theme-bg-color;
          }
        }
      }
    }
  }
}

// time-picker
.ant-time-picker-panel-input {
  background-color: @theme-bg-component-color;
}
