.ant-tooltip {
  font-size: 12px;
}

.ant-message {
  z-index: 1100;
}

.ant-input {
  height: 36px;
  font-size: 14px;
  outline: none;
}

.ant-btn {
  height: @pro-form-item-height;
  font-size: @fs14;

  > [class^='icon-'] + span,
  > [class*=' icon-'] + span {
    margin-left: 6px;
  }

  > [class^='icon-'],
  > [class*=' icon-'] {
    margin-left: -4px;
    vertical-align: -0.2em;
  }

  &.ant-btn-circle {
    width: @pro-form-item-height;
  }

  &.ant-btn-lg {
    height: 42px;

    &.ant-btn-circle {
      width: 42px;
    }
  }

  &.ant-btn-sm {
    height: 28px;

    &.ant-btn-circle {
      width: 28px;
    }
  }
}

.ant-select-auto-complete.ant-select .ant-input {
  height: 36px;
}

textarea.ant-input {
  min-height: 72px;
  font-size: 14px;
  outline: none;
}

.ant-input-number {
  height: 36px;

  .ant-input-number-input {
    height: 34px;
  }
}

.ant-radio-wrapper {
  span {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.22px;
  }
}

/* 重置导航菜单 */
.ant-menu {
  border: none;

  .ant-menu-item {
    height: 48px;
    margin: 0;
    padding: 0 14px !important;
    line-height: 48px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &.ant-menu-inline,
  &.ant-menu-vertical-left,
  &.ant-menu-vertical-right,
  &.ant-menu-vertical {
    .ant-menu-item::after {
      border-right: 0;
    }
  }

  .ant-menu-submenu .ant-menu-submenu-title {
    height: 48px;
    margin: 0;
    padding: 0 14px !important;
    font-size: 14px;
    line-height: 48px;
  }

  .ant-menu-submenu > .ant-menu {
    .ant-menu-item {
      height: 40px;
      padding: 0 14px 0 40px !important;
      font-size: 12px;
      line-height: 40px;
    }
  }

  &.ant-menu-dark {
    .ant-menu-inline.ant-menu-sub {
      box-shadow: none;
    }
  }
}

.ant-menu-submenu.ant-menu-submenu-popup {
  .ant-menu {
    .ant-menu-submenu-title {
      height: 40px;
      font-size: 12px;
      line-height: 40px;
    }

    .ant-menu-item {
      height: 40px;
      padding-left: 14px !important;
      font-size: 12px;
      line-height: 40px;

      &.ant-menu-item-selected {
        color: #fff;
        background-color: unset;
        border: none;
      }
    }
  }
}

.theme--dark {
  .ant-menu-inline-collapsed-tooltip {
    .ant-tooltip-content {
      .ant-tooltip-arrow::before {
        background-color: #20262f;
      }

      .ant-tooltip-inner {
        color: #adb5bd;
        background-color: #20262f;
      }
    }
  }
}

.theme--light {
  .ant-menu-inline-collapsed-tooltip {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        color: #969fa9;
      }
    }
  }
}

/* 重置表格 */
.ant-table {
  td {
    vertical-align: middle;
  }

  .ant-table-thead > tr {
    th {
      padding: 10px 8px;
      font-size: @fs12;

      .ant-table-column-sorter .ant-table-column-sorter-inner-full {
        margin-top: -0.45em;
      }
    }
  }

  .ant-table-thead tr > th:first-of-type,
  .ant-table-tbody tr > td:first-of-type {
    padding-left: 30px;
  }

  .ant-table-filter-dropdown-btns {
    padding: 7px 8px;
    overflow: hidden;
    border-top: 0 solid transparent;
  }

  .ant-table-filter-dropdown-link {
    &.confirm {
      font-size: @fs12;
    }

    &.clear {
      font-size: @fs12;
    }
  }

  .ant-table-scroll {
    .ant-table-header {
      scrollbar-color: transparent transparent;

      ::-webkit-scrollbar {
        background-color: transparent;
      }
    }
  }

  .ant-table-tbody {
    tr {
      td {
        padding: 9px 8px;
        font-size: @fs12;
        border-bottom: 0;
      }
    }
  }

  tr.ant-table-expanded-row td > .ant-table-wrapper {
    margin: -8px -16px -8px;
  }

  // .ant-table-scroll table .ant-table-fixed-columns-in-body {
  //   overflow: visible !important;
  //   font-size: 0 !important;
  // }

  /* 固定表格样式 */
  .ant-table-fixed-left {
    box-shadow: 0.5rem 0 0.5rem -0.333333rem rgba(0, 0, 0, 0.15);
  }

  .ant-table-fixed-right {
    box-shadow: -0.5rem 0 0.5rem -0.333333rem rgba(0, 0, 0, 0.15);
  }
}

.ant-table-wrapper {
  .ant-checkbox-wrapper {
    padding: 0;
  }
}

.ant-table-fixed-left,
.ant-table-fixed-right {
  table {
    .ant-table-thead {
      tr {
        th {
          padding: 10px 8px;
        }
      }
    }

    tr {
      td {
        padding: 8px 8px;
        font-size: @fs12;
        border-bottom: 0;
      }
    }
  }
}

/* 紧凑型表格 */
.ant-table-middle {
  .ant-table-thead {
    tr th {
      padding: 9px 9.5px !important;
    }
  }

  .ant-table-tbody {
    tr {
      td {
        padding: 9px 9.5px !important;
      }
    }
  }
}

/* 带边框的表格重置 */
.ant-table-bordered {
  .ant-table-header > table,
  .ant-table-body > table,
  .ant-table-fixed-left table,
  .ant-table-fixed-right table {
    border: 0;
  }

  .ant-table-thead > tr:not(:last-child) > th {
    border-bottom-width: 0;
  }

  .ant-table-thead > tr:last-child > th {
    border-bottom: 1px solid @mbd-1-cls;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    border-right-width: 0;
  }
}

/* 重置选择器 */
.ant-select-selection {
  border: 1px solid @mbd-1-cls;
  box-shadow: none;

  .ant-select-selection__choice {
    border: none;
    border-radius: 4px;
  }

  .ant-select-search__field {
    border: none;
  }
}

.ant-select-selection--single {
  height: @pro-form-item-height;
}

.ant-select-selection__rendered {
  line-height: @pro-form-item-height - 2px;
}

.ant-select-dropdown {
  input {
    font-size: 14px;
    outline: none;
  }
}

/* 重置对话框 */
.ant-modal {
  .ant-modal-footer {
    padding: 10px 60px 36px;
    font-size: @fs14;
    border: none;

    button {
      min-width: 100px;

      + button {
        margin-left: 20px;
      }
    }
  }

  .ant-modal-title {
    font-size: @fs18;
  }

  .ant-modal-header {
    position: relative;
    padding-top: 19px;
    text-align: center;
    border-bottom: 0;

    &::after {
      position: absolute;
      right: 40px;
      bottom: 0;
      left: 40px;
      border-bottom: 1px solid @mbd-2-cls;
      content: '';
    }
  }

  .ant-modal-body {
    padding: 20px 60px;
    font-size: @fs12;
  }

  .ant-modal-close-x {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  .ant-modal-confirm-body {
    text-align: center;

    i.anticon {
      position: relative;
      float: unset;
      width: 100%;
      height: 48px;
      margin: 28px 0;
      font-size: 48px;

      svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .ant-modal-confirm-title {
      width: 100%;
      font-size: @fs16;

      + .ant-modal-confirm-content {
        margin-left: 0;
      }
    }

    .ant-modal-confirm-content {
      font-size: @fs12;
    }
  }
}

.ant-modal-confirm {
  .ant-modal-confirm-body {
    i.anticon {
      margin: 0;

      svg {
        font-size: 32px;
      }
    }

    .ant-modal-confirm-title {
      color: #333;
      font-size: 18px;
      text-align: center;
    }
  }

  .ant-modal-confirm-content {
    color: #666;
    font-size: 14px;
    text-align: center;
  }

  .ant-btn {
    height: 36px;
    padding: 0 53px;
  }

  // .ant-modal-confirm-btns button + button {
  //   margin-left: 40px;
  // }

  .ant-modal .ant-modal-body {
    padding: 24px 40px 46px;
  }

  .ant-modal-confirm-btns {
    width: 100%;
    text-align: center;

    .ant-btn-primary {
      margin-left: 20px;
    }
  }
}

.ant-pagination {
  font-size: @fs14;

  .ant-pagination-prev,
  .ant-pagination-item,
  .ant-pagination-next {
    width: auto;
    min-width: 24px;
    height: 24px;
    line-height: 22px;
    background-color: transparent;

    a {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    padding: 0 4px;
  }

  .ant-pagination-options-quick-jumper {
    height: 24px;
    line-height: 24px;

    input {
      width: 40px;
      height: 24px;
      padding: 0 4px;
      cursor: pointer;
    }
  }

  &.mini {
    font-size: @fs12;

    .ant-pagination-prev,
    .ant-pagination-item,
    .ant-pagination-next {
      width: auto;
      min-width: unset;
      height: 20px;
      margin-right: 8px;
      line-height: 20px;
      border: none;
    }

    .ant-pagination-options {
      .ant-pagination-options-quick-jumper {
        height: 20px;
        line-height: 20px;

        input {
          width: 30px;
          height: 20px;
        }
      }
    }
  }
}

.ant-alert-success,
.ant-alert-info,
.ant-alert-warning,
.ant-alert-error {
  &.ant-alert {
    height: 49px;
    padding-left: 73px;
    font-size: @fs14;
    line-height: 2.5;
    border: none;

    .ant-alert-icon {
      top: 14px;
      left: 40px;
      font-size: 22px;
    }

    .ant-alert-close-icon {
      top: 15px;

      .anticon-close {
        font-size: 24px;
      }
    }

    &.ant-alert-with-description {
      height: 72px;
      line-height: unset;

      .ant-alert-icon {
        top: 17px;
      }
    }
  }
}

.ant-table-pagination.ant-pagination {
  height: 52px;
  margin: 0;
  padding: 14px;

  .ant-pagination-total-text {
    height: 24px;
    line-height: 24px;
  }

  .ant-pagination-options {
    height: 24px;
  }

  .ant-select-selection--single {
    height: 24px;

    .ant-select-selection__rendered {
      font-size: 13px;
      line-height: 22px;
    }
  }
}

.ant-form--horizontal {
  .ant-form-item {
    display: flex;
  }

  .ant-form-item-control-wrapper {
    flex: 1;
  }

  .ant-form-item-label {
    line-height: 36px;
  }

  .ant-form-item-control {
    line-height: 36px;
  }

  &.ant-form--label-left {
    .ant-form-item-label {
      text-align: left;
    }
  }

  &.ant-form--label-right {
    .ant-form-item-label {
      text-align: right;
    }
  }
}

.ant-popover {
  .ant-popover-inner {
    font-size: @fs12;

    .ant-popover-buttons .ant-btn {
      width: 48px;
      height: 20px;
      font-size: @fs12;
    }
  }
}

.ant-drawer {
  &-content {
    padding: 12px;
    background: #f5f7fa;
  }

  &-header {
    padding: 12px 16px;
    background-color: #fff;
    border: 0;
  }

  &-title {
    position: relative;
    padding-left: 14px;
    color: @mft-5-cls;
    font-size: @fs16;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 5px;
      height: 14px;
      margin-top: -7px;
      background: #87ce40;
      content: '';
    }
  }

  &-close {
    width: 46px;
    height: 46px;
    line-height: 46px;
  }

  &-body {
    padding: 24px 40px;
    font-size: @fs12;
  }
}
