.ant-table-content {
  background: @mbg-2-cls;

  .ant-table-header {
    background: @mbg-3-cls;

    .ant-table-thead tr th {
      color: @mft-5-cls;
      border-bottom-color: transparent;
    }

    .ant-table-thead {
      background: @mbg-3-cls !important;
    }

    .ant-table-fixed {
      background: @mbg-2-cls;
    }
  }

  .ant-table-body {
    .ant-table-tbody {
      color: @mft-1-cls;
      background: @mbg-2-cls;

      tr.ant-table-expanded-row {
        background-color: @mbg-10-cls;

        td {
          color: @mft-3-cls;
        }
      }

      > tr:hover {
        background: @mbg-8-hv-cls;

        > td {
          background: transparent;
        }
      }
    }
  }
}

.ant-table-wrapper {
  .ant-checkbox-wrapper {
    .ant-checkbox-indeterminate {
      .ant-checkbox-inner {
        background: @theme;
      }
    }
  }
}

.ant-table-fixed-left,
.ant-table-fixed-right {
  table {
    background-color: @mbg-2-cls;

    tr {
      td {
        color: @mft-1-cls;
      }

      &:nth-child(even) {
        background: @mbg-17-cls;
      }
    }
  }
}

.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
  background: @mbg-2-cls;
}

.ant-table-tbody {
  > tr {
    &.ant-table-row-hover > td {
      background: @mbg-8-hv-cls !important ;
    }

    &:hover > td {
      background: @mbg-8-hv-cls !important;
    }

    &.ant-table-row-selected {
      td {
        background: transparent;
      }

      &:hover {
        td {
          background: @mbg-8-hv-cls !important ;
        }

        &.ant-table-row-hover > td {
          background: @mbg-8-hv-cls !important;
        }
      }
    }
  }
}

.ant-table-tbody tr:nth-child(even) {
  background: @mbg-17-cls;
}

.ant-table-header::-webkit-scrollbar {
  background-color: transparent;
}

.ant-table-thead > tr {
  th {
    color: @mft-5-cls;
    background: @mbg-3-cls;
    border-bottom-color: transparent;

    &.ant-table-column-has-actions {
      &.ant-table-column-has-filters {
        .anticon-filter {
          color: @mic-2-cls;

          &.ant-table-filter-open {
            color: @mic-2-cls;
            background: @mbg-8-hv-cls;
          }
        }

        .ant-table-filter-icon {
          &.ant-table-filter-open {
            color: @mic-2-cls;
            background: @mbg-8-hv-cls;
          }
        }

        &:hover {
          background: @mbg-8-hv-cls;
          cursor: pointer;

          .anticon-filter {
            &:hover {
              color: @mic-2-cls;
              background: @mbg-8-hv-cls;
            }
          }
        }
      }

      &.ant-table-column-has-sorters {
        i {
          color: @mic-2-cls;
        }

        &:hover {
          background: @mbg-8-hv-cls;
          cursor: pointer;

          .ant-table-column-sorters:hover::before {
            color: @mft-5-cls;
            background: transparent !important;
          }
        }
      }
    }
  }
}

.ant-table-filter-dropdown-btns {
  background-color: @mbg-10-cls;
  border-top: 0 solid transparent;
}

.ant-table-filter-dropdown-link {
  color: @theme;

  &:hover {
    color: @theme;
  }

  &:active {
    color: @theme;
  }
}

.ant-table-filter-dropdown {
  background: @mbg-9-cls;

  .ant-dropdown-content {
    background: @mbg-9-cls;
  }
}

.ant-table-row-expand-icon {
  background: transparent;
}

.ant-table-small {
  background: @mbg-2-cls;
  border-color: @mbd-1-cls !important;

  .ant-table-thead {
    tr th {
      border-bottom: 0 solid @mbd-1-cls !important;
    }
  }

  .ant-table-tbody {
    tr {
      :last-child {
        td {
          border-bottom: 0 solid @mbd-1-cls;
        }
      }

      &:nth-child(odd) {
        td {
          background: @mbg-17-cls;
        }
      }

      &:nth-child(even) {
        td {
          background: @mbg-2-cls;
        }
      }

      &:hover {
        td {
          background: @mbg-8-hv-cls;
        }
      }
    }
  }
}

.ant-table-placeholder {
  background-color: @mbg-2-cls;
  border: 0;
}

.ant-empty-description {
  color: @mft-2-cls;
}
