.shadow {
  box-shadow: 2px 0 6px 0 rgba(109, 125, 136, 0.1);
}

.side-menu {
  z-index: 10;
  min-height: 100vh;
  overflow-y: auto;

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }

  .sidemenu-main {
    flex: 1;
    overflow: auto;

    .ant-menu {
      &.ant-menu-inline-collapsed {
        width: 50px;
      }

      .ant-menu-item .icon,
      .ant-menu-submenu-title .icon {
        font-size: 18px;
      }

      > .ant-menu-item,
      > .ant-menu-submenu > .ant-menu-submenu-title {
        height: 50px;
        line-height: 50px;
      }

      > .ant-menu-submenu {
        .ant-menu {
          .ant-menu-item,
          .ant-menu-submenu-title {
            height: 40px;
            font-size: 12px;
            line-height: 40px;
          }
        }
      }
    }
  }

  .sidemenu-header,
  .sidemenu-footer {
    color: #fff;

    .logo {
      display: inline-block;
      height: 26px;
      line-height: 26px;
      white-space: nowrap;

      img {
        width: auto;
        height: 26px;
      }

      * {
        vertical-align: middle;
      }
    }

    img {
      max-width: 100%;
    }

    .divider-border {
      border-top: 1px solid #fff;
      opacity: 0.1;
    }
  }

  .sidemenu-header {
    padding: 22px 14px 0;

    &.collapsed {
      padding: 20px 5px 0;
    }

    .divider-border {
      margin-top: 22px;
    }

    .logo {
      > .logo-img {
        width: 53px;
        height: 20px;
        margin-right: 2px;
      }

      > .title {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }

  .sidemenu-footer {
    padding: 0 14px 11px;

    .logo {
      cursor: pointer;
    }

    .sidemenu-icon {
      margin-right: 2px;
      font-size: 20px;
    }

    .sidemenu-text {
      font-size: 14px;
    }

    .divider-border {
      margin-bottom: 11px;
    }
  }
}

.side-menu.ant-layout-sider-dark {
  background: #1f263e;

  .ant-menu-root {
    > .ant-menu-item {
      &.ant-menu-item-selected {
        background-color: #303750;
      }
    }
  }

  .ant-menu {
    color: #969fa9;
    background-color: #1f263e;

    .ant-menu-item {
      color: #a2b0c6;

      &:hover {
        color: #fff;
      }

      &.ant-menu-item-selected {
        color: #fff;
        // background-color: transparent;
      }
    }

    .ant-menu-submenu {
      > .ant-menu {
        background: #181f35;

        .ant-menu-item,
        .ant-menu-submenu-title {
          color: #adb5bd;
        }

        .ant-menu-item:hover {
          color: #4285f4;
          background-color: #303750;

          a {
            color: #4285f4;
          }
        }
      }

      .ant-menu-submenu-title {
        color: #a2b0c6;

        &:hover {
          color: #fff;
        }
      }
    }

    .ant-menu-sub {
      .ant-menu-item {
        &.ant-menu-item-selected {
          color: #fff;
          background-color: #11172b;
          border-right: 0;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 40px;
            border-left: 3px solid @color-primary;
            content: '';
          }
        }
      }
    }

    &.ant-menu-vertical .ant-menu-submenu.ant-menu-submenu-selected .ant-menu-submenu-title {
      background-color: #11172b;
      border-right: 2px solid #5790fb;
    }
  }
}

.side-menu.ant-layout-sider-light {
  background: #fff;
}
