@header-prefix-cls: ~'@{pro-prefix}-admin-header';
@header-height: @pro-header-height;

.admin-header {
  .head-menu {
    height: @header-height;
    line-height: @header-height;
    vertical-align: middle;
    box-shadow: none;
  }

  &.dark {
    color: #fff;
    background: #141414;
  }

  &.night {
    .head-menu {
      background: @color-bg;
    }
  }

  .admin-header-wide {
    height: @header-height;
    padding-left: 20px;
    background: @color-bg;
    box-shadow: 0 4px 20px 0 rgba(109, 125, 136, 0.1);

    .admin-header-title {
      float: left;
      margin: 0;
      font-weight: 700;
      font-size: 16px;
    }

    &.side {
      padding-right: 12px;
    }

    .logo {
      display: inline-block;
      height: @header-height;
      padding: 0 12px 0 24px;
      color: inherit;
      font-size: 20px;
      line-height: @header-height - 6px;
      vertical-align: top;
      cursor: pointer;

      &.pc {
        padding: 0 12px 0 0;
      }

      img {
        vertical-align: middle;
      }

      h1 {
        display: inline-block;
        color: inherit;
        font-size: 16px;
      }
    }

    .trigger {
      padding: 0 24px;
      font-size: 20px;
      line-height: @header-height;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: @color-primary;
      }
    }

    .admin-header-menu {
      display: inline-block;
    }

    .admin-header-right {
      display: flex;
      float: right;
      color: inherit;

      .header-item {
        display: flex;
        align-items: center;
        align-self: center;
        height: @header-height;
        padding: 0 12px;
        color: inherit;
        cursor: pointer;

        a {
          color: inherit;

          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
