/* chrome & safari 浏览器 重置滚动条样式 */
::-webkit-scrollbar {
  /* 滚动条整体样式 */
  width: 10px; /* 高宽分别对应横竖滚动条的尺寸 */
  height: 10px;
  background: @mbg-15-cls;
}

::-webkit-scrollbar-thumb {
  /* 滚动条里面小方块 */
  background: @mbg-16-cls;
  border: 2px solid @mbg-15-cls;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-corner {
  background-color: @mbg-15-cls;
}
/* IE 浏览器 重置滚动条样式 */
body {
  scrollbar-face-color: @mbg-16-cls; /* 滚动条颜色 */
  scrollbar-shadow-color: @mbg-15-cls; /* 滚动条的边框 */
  scrollbar-track-color: @mbg-15-cls; /* 浏览器滚动条背景色 */
  scrollbar-arrow-color: @mbg-16-cls; /* 上下箭头颜色 */
}

.ant-alert,
.ant-message,
.ant-modal .ant-modal-content,
.ant-progress,
.ant-popover,
.ant-notification {
  i.anticon-check-circle,
  i.anticon-check-circle-o {
    color: @success;
  }

  i.anticon-close-circle,
  i.anticon-close-circle-o {
    color: @alarm;
  }

  i.anticon-exclamation-circle,
  i.anticon-exclamation-circle-o {
    color: @error;
  }

  i.anticon-info-circle,
  i.anticon-info-circle-o {
    color: @theme;
  }
}

.admin-layout-main {
  background: @mbg-1-cls;
}

.admin-layout-body {
  color: @mft-1-cls;

  .layout-page {
    background-color: @mbg-2-cls;
  }
}

.pro-multi-tab {
  background-color: @mbg-8-cls;

  /*------ 重置tab-nav ------*/
  .ant-tabs.ant-tabs-card {
    .ant-tabs-card-bar {
      // 标签卡头部切换部分
      .ant-tabs-nav-container {
        .ant-tabs-nav > div {
          background-color: @mbg-8-cls !important;
        }

        .ant-tabs-tab {
          color: @mft-3-cls !important;
          font-size: @fs12;
          background: @mbg-8-cls !important;
          border: 1px solid @mbd-2-cls !important;

          &:first-child {
            color: @mft-2-cls;
            pointer-events: none;
          }

          .ant-tabs-close-x {
            display: inline-block !important;
            color: @mic-1-cls !important;
          }

          &:hover {
            color: @mft-2-cls !important;
            background: @mbg-14-hv-cls !important;
          }

          &.ant-tabs-tab-active {
            color: @mft-2-cls !important;
            background: @mbg-5-av-cls !important;
          }
        }
      }
    }
  }
}

.theme-ul li {
  &.theme-li-active {
    color: @mft-2-cls;
    background-color: @mbg-1-av-cls;
  }
}
