@theme-name: knight-black;

// 顶栏上的文字颜色
@theme-header-background: rgba(17, 24, 31, 1);
@theme-header-item-color: #fff;

/* 字体颜色 */
@ft-6-cls: #adb5bd; //  导航一级字体颜色   **-- 新增 --**
@ft-7-cls: #adb5bd; //  导航二级字体颜色   **-- 新增 --**
@ft-8-cls: #ffffff; //  顶部导航字体颜色   **-- 新增 --**
@ft-9-cls: #c1cee1; //  底部导航字体颜色   **-- 新增 --**

/* 字体 hover 颜色 */
@ft-1-hv-cls: #ffffff; //  导航一级字体颜色   **-- 新增 --**
@ft-2-hv-cls: #4285f4; //  导航二级字体颜色   **-- 新增 --**

/* 字体 active 颜色 */
@ft-1-av-cls: #ffffff; //  导航一级字体颜色   **-- 新增 --**
@ft-2-av-cls: #ffffff; //  导航一级字体颜色   **-- 新增 --**

/* 背景颜色 */
@bg-5-cls: #2a323f; // 导航栏背板色
@bg-6-cls: rgba(17, 24, 31, 1); // 头部背板色
@bg-14-cls: #202631; // 二级导航栏背板色
@bg-19-cls: #29313b; // 底部导航背色
@bg-20-cls: #202631; // 树气泡背景颜色

/* 背景 hover 颜色 */
@bg-12-hv-cls: #11181f; // 导航栏悬浮背色
@bg-15-hv-cls: #11181f; // 树气泡悬浮背板色

/* 背景 active 颜色 */
@bg-4-av-cls: #2d4a75; // 导航栏选中背板色
